@tailwind base;
@tailwind components;
@tailwind utilities;




/* styles.css */
.carousel {
    display: flex;
    overflow: hidden;
  }
  
  .carousel .carousel-item {
    flex: 0 0 100%;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .carousel .carousel-item.active {
    opacity: 1;
  }
  
  .carousel img {
    width: 100%;
    height: auto;
  }
  